/* Hearsay Xmas version styles
-------------------------------------------------- */
.xmas-image{
    position: absolute;
top: 75px;
left: 15px;
width: 75px;
}

/* Global styles
-------------------------------------------------- */

body {
	overflow-x: hidden;
	margin-bottom: 60px; /* Margin bottom by footer height */
}

.loading {
	display: none;
	height: 40px;
	margin-top: 15px;
}

.countdown {
	display: inline;
	float: right;
	margin-top: 5px;
}

.countdown span.time {
	font-size: 30px;
}

.countdown span.dinner-label {
	margin-right: 10px;
	color: #767676;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
  text
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
  margin: 20px 0;
  font-size: smaller;
}

/* Global: listing users
-------------------------------------------------- */

li.user a {
	float: right;
}

li.user img {
	display: inline;
	float: left;
	margin-top: 10px;	
}

/* dinner.html styles
-------------------------------------------------- */

#dinner-request-list img {
	width: 20px;
}

.dinner {
	margin-top: 20px;
}

.cat-image {
	display: none;
}

#order-dinner {
	margin-bottom: 10px;
}

#special-notes {
	margin-bottom: 20px;
}

/* beer.html styles
-------------------------------------------------- */

#beer-request-list img {
	vertical-align: middle;
}

.beer-request-name {
	vertical-align: middle !important;
}

.on-tap {
	background-color: #f9f9f9;
	margin: 0px 15px;
	padding-bottom: 15px;
	border: 1px solid #ddd;
}

.row.kicked-keg {
	margin: 10px 0px;
}

.beer-text-input {
	width: 200px;
	vertical-align: middle;
	display: inline-block;
}

form.requestBeer {
	float: right;
}

.kicked-alert {
	display: none;
}

.dismiss-request {
	margin-left: 9px;
}

.update-keg, .dismiss-request {
	vertical-align: middle;
	display: inline-block !important;
}

div.kicked span {
	font-weight: normal;
}

/* preferences.html
-------------------------------------------------- */
#savePrefs {
	float: right;
	margin-top: 20px;
}

.preferences {
	margin-top: 50px;
}

.preferences img {
	width: 20px;
}

.preferences ul {
	list-style-type: none;
	font-size: 16px;
}

.preferences h4 {
	margin-top: 20px;
}

.preferences ul li {
	margin-top: 10px;
}

.preferences ul li span {
	float: right;
	font-size: 12px;
}

/* Preference icon styles
-------------------------------------------------- */
.icon-omnivore,
.icon-pescetarian,
.icon-vegan,
.icon-vegetarian,
.icon-beef,
.icon-dairy,
.icon-eggs,
.icon-fish,
.icon-garlic,
.icon-gluten,
.icon-lamb,
.icon-nuts,
.icon-pork,
.icon-poultry,
.icon-shellfish,
.icon-soy {
	background: url("../images/food_preferences_sprite.png");
	background-image: url("../images/food_preferences_sprite.svg"), none;
	background-size: 24px 288px;
	background-repeat: no-repeat;
    display: inline-block;
    vertical-align: text-bottom;
}

.icon-omnivore {
	background-position: 0px 0px;
	width: 16px;
	height: 16px;
}

.icon-pescetarian {
	background-position: 0px -18px;
	width: 16px;
	height: 16px;
}

.icon-vegetarian {
	background-position: 0px -36px;
	width: 16px;
	height: 16px;
}

.icon-vegan {
	background-position: 0px -54px;
	width: 16px;
	height: 16px;
}

.icon-beef {
	background-position: 0px -72px;
	width: 21px;
	height: 16px;
}

.icon-dairy {
	background-position: 0px -90px;
	width: 22px;
	height: 16px;
}

.icon-eggs {
	background-position: 0px -108px;
	width: 22px;
	height: 16px;
}

.icon-fish {
	background-position: 0px -126px;
	width: 24px;
	height: 16px;
}

.icon-garlic {
	background-position: 0px -144px;
	width: 24px;
	height: 16px;
}

.icon-gluten {
	background-position: 0px -162px;
	width: 24px;
	height: 16px;
}

.icon-lamb {
	background-position: 0px -180px;
	width: 22px;
	height: 16px;
}

.icon-nuts {
	background-position: 0px -198px;
	width: 21px;
	height: 16px;
}

.icon-pork {
	background-position: 0px -216px;
	width: 24px;
	height: 16px;
}

.icon-poultry {
	background-position: 0px -234px;
	width: 22px;
	height: 16px;
}

.icon-shellfish {
	background-position: 0px -252px;
	width: 24px;
	height: 16px;
}

.icon-soy {
	background-position: 0px -270px;
	width: 24px;
	height: 16px;
}

.icon-omnivore.icon-24,
.icon-pescetarian.icon-24,
.icon-vegan.icon-24,
.icon-vegetarian.icon-24,
.icon-beef.icon-24,
.icon-dairy.icon-24,
.icon-eggs.icon-24,
.icon-fish.icon-24,
.icon-garlic.icon-24,
.icon-gluten.icon-24,
.icon-lamb.icon-24,
.icon-nuts.icon-24,
.icon-pork.icon-24,
.icon-poultry.icon-24,
.icon-shellfish.icon-24,
.icon-soy.icon-24 {
	background: url("../images/food_preferences_sprite_24.png");
	background-image: url("../images/food_preferences_sprite.svg"), none;
	background-size: 36px 432px
}

.icon-omnivore.icon-24 {
	background-position: 0px 0px;
	width: 24px;
	height: 24px;
}

.icon-pescetarian.icon-24 {
	background-position: 0px -27px;
	width: 24px;
	height: 24px;
}

.icon-vegetarian.icon-24 {
	background-position: 0px -54px;
	width: 24px;
	height: 24px;
}

.icon-vegan.icon-24 {
	background-position: 0px -81px;
	width: 24px;
	height: 24px;
}

.icon-beef.icon-24 {
	background-position: 0px -108px;
	width: 32px;
	height: 24px;
}

.icon-dairy.icon-24 {
	background-position: 0px -135px;
	width: 33px;
	height: 24px;
}

.icon-eggs.icon-24 {
	background-position: 0px -162px;
	width: 33px;
	height: 24px;
}

.icon-fish.icon-24 {
	background-position: 0px -189px;
	width: 36px;
	height: 24px;
}

.icon-garlic.icon-24 {
	background-position: 0px -216px;
	width: 36px;
	height: 24px;
}

.icon-gluten.icon-24 {
	background-position: 0px -243px;
	width: 36px;
	height: 24px;
}

.icon-lamb.icon-24 {
	background-position: 0px -270px;
	width: 33px;
	height: 24px;
}

.icon-nuts.icon-24 {
	background-position: 0px -297px;
	width: 32px;
	height: 24px;
}

.icon-pork.icon-24 {
	background-position: 0px -324px;
	width: 36px;
	height: 24px;
}

.icon-poultry.icon-24 {
	background-position: 0px -351px;
	width: 33px;
	height: 24px;
}

.icon-shellfish.icon-24 {
	background-position: 0px -378px;
	width: 36px;
	height: 24px;
}

.icon-soy.icon-24 {
	background-position: 0px -405px;
	width: 36px;
	height: 24px;
}

/* Admin Classes - These must be last */

.admin {
	display: none;
}